/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
/*
width <  DONE
961px > width > 767px
1024px > width > 960px
width > 1200px
*/

body
{
    width: 100%;
    height: auto;
}
p
{
    text-align: left;
}

nav
{   
    position: fixed;
    top:0;

    background-color: white;
    margin-left: -10px;
    margin-right: -10px;
    display:flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100px;

    border-bottom: solid 1px #5b5e6d;
    border-top: solid 1px #5b5e6d;
}
nav>img
{
    width: auto;
    height: 100%;
}
nav li
{
    list-style: none;
    display: none;
}
i
{
    color: #5b5e6d;
}
nav>i:first-of-type
{
    font-size: 3em;
}
nav>i:last-of-type
{
    display: none;
}

header
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
header>img
{
    height: 400px;
    width: auto;
}
header>h1
{
    align-self: flex-start;
    margin-top: 20px;
    color: #2C303F;
    font-size: 5.3em;
}
header>p:first-of-type
{

    margin-top: -20px;

    color:#5b5e6d;
    font-size: 2em;
}
input.emailInput, input.emailInput2
{
    font-size: 2em;
    padding-left: 5%;
    margin-bottom: 5%;

    height: 80px;
    width: 94.5%;
}

button.startButton, button.startButton2
{
    font-size: 2em;
    color: white;
    background-color: #192592;
    height: 80px;
    width: 100%;
}
header>p:last-of-type
{
    text-align: center;

    color:#5b5e6d;
    font-size: 2em;
}
main
{
    width: 100%;
    margin-top: 50px;

}
main>div:first-of-type
{
    background-color: #F4F3F4;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-left: 10%;
    padding-right: 10%;
}
main>div>h2
{
    width: 100%;
    margin-top: 50px;
    
    text-align: center;
    color: #2C303F;
    font-size: 3em;
}
main>div>p
{
    width: 100%;
    margin-top: -20px;
    
    text-align: center;
    color:#5b5e6d;
    font-size: 2em;
}
div.partnerImages>div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-top: 30px;

    width: 100%;
}
div.partnerImages>div>img
{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30%;
    padding-right: 30%;
    height: auto;
    width: 30%;
    border-bottom: solid 1px #5b5e6d;
}
main>div:first-of-type>button
{
    font-size: 1.8em;
    color: #192592;
    border-color: #192592;
    background-color: white;
    height: 80px;
    width: 100%;
}

main>div>h3
{
    width: 100%;
    margin-top: 50px;
    
    text-align: center;
    color: #2C303F;
    font-size: 2em;
}

main>div:last-of-type
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-left: 10%;
    margin-right: 10%;;
    padding-bottom: 10%;
}
footer
{
    padding-left: 5%;
    padding-right: 5%;
}
footer>img
{
    height: 25%;
    width: 25%;
}
footer>div:first-of-type
{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -5%;
}

footer>div:first-of-type ul
{
    margin-right: 80px;
    list-style: none;
}
footer>div:first-of-type li
{
    margin-top: 40px;
    margin-bottom: 40px;
}

footer>div:first-of-type li:first-child
{
    font-weight: bold;
    color: #2C303F;
    font-size: 1.5em;
}
footer>div:first-of-type  li:Not(:first-child)
{
    color: #5b5e6d;
    font-size: 1.2em;
}



footer>div:last-of-type
{
    padding-top: 10px;
    background-color: #F4F3F4;
}
footer>div:last-of-type ul
{
    display: flex;
    justify-content: space-around;

    font-weight: bold;
    list-style: none;
    color: #5b5e6d;
    font-size: 1.5em;
}
footer>div:last-of-type span
{
    font-weight: bold;
    list-style: none;
    color: #5b5e6d;
    font-size: 1.5em;
}
footer>div:last-of-type>div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>div:last-of-type>div i, footer>div:last-of-type>div img
{
    width: auto;
    height: 30px;

    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
}

footer>div:last-of-type>div:last-of-type>i
{
    margin-top: 20px;
    margin-bottom: 20px;
}


@media (min-width: 767px) and (max-width: 961px)
{
    div.mailbuttons
    {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    input.emailInput
    {
        width: 300px;
    }

    button.startButton
    {
        height: 86px;
        width: 200px;
        margin-left: 50px;
        font-size: 1.6em;
    }
    div.mailbuttons+p
    {
        margin-top: -20px;
        align-self: flex-start;
    }
    main>div:first-of-type
    {

        padding-left: 0%;
        padding-right: 0%;
    }
    main>div:first-of-type>p
    {
        margin-right: 5%;
        margin-left: 5%;
        width: auto;
    }
    main>div:first-of-type>button
    {
        width: 300px;
        margin-bottom: 5%;
    }
    main>div:first-of-type>img
    {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 30%;
        padding-right: 30%;
        height: auto;
        width: 30%;
        border-bottom: solid 1px #5b5e6d;
    }

    main>div:last-of-type
    {
        display: block;

        margin-left: 0%;
        margin-right: 0%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 4%;
        
        border-bottom: solid 1px #5b5e6d;
    }

    main>div>h3:last-of-type
    {
        text-align: left;
        width: 300px;
    }
    main>div:last-of-type>p:last-of-type
    {
        text-align: left;
        font-size: 1.4em;
        width: 300px;
    }
    main>div>div.mailbuttons
    {
        float: right;

        margin-top: -115px;
        width: 350px;        
    }
    input.emailInput2
    {
        width: 50%;
        height: 80px;
        margin-bottom: 0%;
        margin-right: 10px;
        font-size: 1.4em;
    }
    button.startButton2
    {
        width: 50%;
        height: auto;
        font-size: 1.2em;
    }
    div.partnerImages
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }    

    div.partnerImages>div
    {
        height: 200px;
        width: 40%;
        margin-bottom: 0%;
        margin-top: 0%;

        border-bottom: solid 1px #5b5e6d;
    }

    div.partnerImages>div>img
    {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0%;
        padding-right: 0%;
        
        height: auto;
        width: 80%;
        
        border: none;
    }
    div.partnerImages>div:nth-of-type(odd)
    {
        border-right: solid 1px #5b5e6d;
    }

    footer
    {
        margin-top: 5%;
    }

    footer>img
    {
        height: 120px;
        width: auto;   
    }

    footer>div:first-of-type
    {
        width: 80%;
        flex-wrap: nowrap;
        justify-content: space-between;
        
        float: right;
    }
    footer>div:first-of-type ul
    {
        
        margin-top: 0%;
        margin-right: 0px;
    }
    footer>div:first-of-type li
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    footer>div:first-of-type li:first-child
    {
        font-weight: bold;
        color: #2C303F;
        font-size: 1.2em;
    }
    footer>div:first-of-type  li:Not(:first-child)
    {
        color: #5b5e6d;
        font-size: 1em;
    }
    
    footer>div:last-of-type
    {
        display: flex;
        justify-content: space-between; 
        
        width: 110%;
        margin-left: -6%;

    }
    footer>div:last-of-type ul
    {
        justify-content: space-between;
        align-items: center;
        
        width: 300px;
        padding-left: 0%;
        padding-right: 150px;
        
        font-size: 1em;
    }

}