/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
/*
width <  DONE
961px > width > 767px
1024px > width > 960px
width > 1200px
*/

body
{
    width: 100%;
    height: auto;
}
p
{
    text-align: justify;
}

nav
{   
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    display:flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 150px;

    border-bottom: solid 1px #5b5e6d;
    border-top: solid 1px #5b5e6d;
}
nav>img
{
    width: auto;
    height: 100%;
}
nav li
{
    list-style: none;
    display: none;
}
i
{
    color: #5b5e6d;
}
nav>i:first-of-type
{
    font-size: 3em;
}
nav>i:last-of-type
{
    display: none;
}

header
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
header>img
{

    height: auto;
    width: 80%;
}
header>h1
{
    align-self: flex-start;
    margin-top: 20px;
    color: #2C303F;
    font-size: 5.3em;
}
header>p:first-of-type
{

    margin-top: -20px;

    color:#5b5e6d;
    font-size: 2em;
}
input.emailInput
{
    font-size: 2em;
    padding-left: 5%;
    margin-bottom: 5%;

    height: 120px;
    width: 94.5%;
}

button.startButton
{
    font-size: 2em;
    color: white;
    background-color: #192592;
    height: 120px;
    width: 100%;
}
header>p:last-of-type
{
    text-align: center;

    color:#5b5e6d;
    font-size: 2em;
}
main
{
    width: 100%;
    margin-top: 50px;

}
main>div:first-of-type
{
    background-color: #F4F3F4;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-left: 10%;
    padding-right: 10%;
}
main>div>h2
{
    width: 100%;
    margin-top: 50px;
    
    text-align: center;
    color: #2C303F;
    font-size: 3em;
}
main>div>p
{
    width: 100%;
    margin-top: -20px;
    
    text-align: center;
    color:#5b5e6d;
    font-size: 2em;
}
main>div:first-of-type>img
{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30%;
    padding-right: 30%;
    height: auto;
    width: 30%;
    border-bottom: solid 1px #5b5e6d;
}
main>div:first-of-type>button
{
    font-size: 1.8em;
    color: #192592;
    border-color: #192592;
    background-color: white;
    height: 80px;
    width: 100%;
}

main>div>h3
{
    width: 100%;
    margin-top: 50px;
    
    text-align: center;
    color: #2C303F;
    font-size: 2em;
}

main>div:last-of-type
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-left: 10%;
    margin-right: 10%;;
    padding-bottom: 10%;
}
footer
{
    padding-left: 5%;
    padding-right: 5%;
}
footer>img
{
    height: 25%;
    width: 25%;
}
footer>div:first-of-type
{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -5%;
}

footer>div:first-of-type ul
{
    margin-right: 80px;
    list-style: none;
}
footer>div:first-of-type li
{
    margin-top: 40px;
    margin-bottom: 40px;
}

footer>div:first-of-type li:first-child
{
    font-weight: bold;
    color: #2C303F;
    font-size: 1.5em;
}
footer>div:first-of-type  li:Not(:first-child)
{
    color: #5b5e6d;
    font-size: 1.2em;
}



footer>div:last-of-type
{
    padding-top: 10px;
    background-color: #F4F3F4;
}
footer>div:last-of-type ul
{
    display: flex;
    justify-content: space-around;

    font-weight: bold;
    list-style: none;
    color: #5b5e6d;
    font-size: 1.5em;
}
footer>div:last-of-type span
{
    font-weight: bold;
    list-style: none;
    color: #5b5e6d;
    font-size: 1.5em;
}
footer>div:last-of-type>div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>div:last-of-type>div i, footer>div:last-of-type>div img
{
    width: auto;
    height: 30px;

    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
}

footer>div:last-of-type>div:last-of-type>i
{
    margin-top: 20px;
    margin-bottom: 20px;
}


@media (min-width: 767px) and (max-width: 961px)
{

    div.mailbuttons
    {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    input.emailInput
    {
        width: 40%;
    }

    button.startButton
    {
        height: 126px;
        width: 35%;
        margin-left: 50px;
    }
    div.mailbuttons+p
    {
        margin-top: -20px;
        align-self: flex-start;
    }
    main>div:first-of-type>button
    {
        width: 40%;
    }
    main>div:first-of-type>img
    {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 30%;
        padding-right: 30%;
        height: auto;
        width: 30%;
        border-bottom: solid 1px #5b5e6d;
    }




    footer>div:first-of-type
    {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    footer>div:first-of-type ul
    {
        margin-right: 0px;
    }
}